@font-face {
  font-family: "upheaval";
  src: url("/client/fonts/upheaval/upheavtt.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "upheaval", sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: black;
}

.tboiLogo {
  position: relative;

  .theBindingOf {
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .isaac {
    font-size: 15rem;
  }

  .genesis {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
}

#dialogBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1b0303;
  color: white;
  z-index: 999;
  button {
    background-color: saddlebrown;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.signDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  input {
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: saddlebrown;
  }
  button {
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: saddlebrown;
  }
}
#gameDiv {
  display: none;
  .canvasWrapper {
    position: relative;
    height: 740px;
    border-radius: 1rem;
    #scoreboard {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 10px;
      font-size: 1.5rem;
      line-height: 1rem;
      color: white;
      text-shadow: 0 0 0.3rem black;
    }
  }
  h1 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }

  #chatMessages {
    width: 1270px;
    height: 100px;
    overflow-y: scroll;
    border: 3px solid white;
    border-bottom: 0;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    font-size: 1.5rem;
  }

  #chatTextInput {
    width: 1270px;
    padding: 5px;
    background-color: black;
    border: 3px solid white;
  }
}
