@import "./constants/values.scss";
@import "./constants/fonts.scss";

@import "./components/TBOILogo.scss";
@import "./components/DialogBox.scss";
@import "./components/SignDiv.scss";
@import "./components/GameDiv.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "upheaval", sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: black;
}
