.signDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  .tboiLogo {
    margin: 7rem;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  input {
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: saddlebrown;
  }
  button {
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: saddlebrown;
  }
}
