@import "../constants/values.scss";
.signDiv {
  button,
  input {
    background-color: $backgroundPrimaryDark;
    width: 500px;
    padding: 1rem 3rem;
    border: 3px solid $primaryTextColor;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
  }
  input {
    padding: 1rem 1rem;
  }
  label {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  color: white;
  .tboiLogo {
    margin: 7rem 7rem 4rem;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .btnWrapper {
    margin-top: 2rem;
    width: calc(500px + 1rem);
    display: flex;
    button {
      width: 50%;
    }
  }
}
